fastapi
uvicorn
python-dotenv
pydantic
pydantic-settings
python-multipart

gradio

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-groq
langchain-huggingface
langchain-openai
langgraph

chromadb
sentence-transformers
transformers
tokenizers
huggingface-hub

openai
groq
instructor
tiktoken

ragas

numpy
pandas
scipy
scikit-learn

requests
PyYAML